<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liz.adminApi.mapper.SysMenuFunctionMapper">
    <!--<cache type="com.yyw.yhyc.cache.LoggingRedisCache"-->
           <!--flushInterval="86400000" size="1024000">-->
    <!--</cache>-->
    <resultMap id="SysMenuFunctionResultMapper" type="com.liz.adminApi.model.SysMenuFunction">
        <result column="id" property="id"/>
        <result column="menu_id" property="menuId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="enabled" property="enabled"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_name" property="createName"/>
        <result column="create_time" property="createTime"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_name" property="updateName"/>
        <result column="update_time" property="updateTime"/>
        <result column="drop_state" property="dropState"/>
    </resultMap>

    <sql id="commonColumns">
        id,
        menu_id,
        name,
        code,
        enabled,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>

    <sql id="commonColumnsNotPK">
        menu_id,
        name,
        code,
        enabled,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>


    <sql id="commonProcessDateColumns">
        id,
        menu_id,
        name,
        code,
        enabled,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>

    <sql id="commonCondition">
        <if test="id!= null and id!= ''">
            AND id = #{id}
        </if>
        <if test="menuId!= null and menuId!= ''">
            AND menu_id = #{menuId}
        </if>
        <if test="name!= null and name!= ''">
            AND name = #{name}
        </if>
        <if test="code!= null and code!= ''">
            AND code = #{code}
        </if>
        <if test="enabled!= null and enabled!= ''">
            AND enabled = #{enabled}
        </if>
        <if test="creatorId!= null and creatorId!= ''">
            AND creator_id = #{creatorId}
        </if>
        <if test="createName!= null and createName!= ''">
            AND create_name = #{createName}
        </if>
        <if test="createTime!= null ">
            AND create_time = #{createTime}
        </if>
        <if test="updaterId!= null and updaterId!= ''">
            AND updater_id = #{updaterId}
        </if>
        <if test="updateName!= null and updateName!= ''">
            AND update_name = #{updateName}
        </if>
        <if test="updateTime!= null ">
            AND update_time = #{updateTime}
        </if>
        <if test="dropState!= null and dropState!= ''">
            AND drop_state = #{dropState}
        </if>
    </sql>


    <insert id="save" parameterType="com.liz.adminApi.model.SysMenuFunction" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[ INSERT INTO sys_menu_function ( ]]> <include refid="commonColumnsNotPK"/>
        <![CDATA[
                ) VALUES (
                #{menuId},
                #{name},
                #{code},
                #{enabled},
                #{creatorId},
                #{createName},
                #{createTime},
                #{updaterId},
                #{updateName},
                #{updateTime},
                #{dropState}
      ) ]]>
    </insert>

    <insert id="batchInsert"  parameterType="com.liz.adminApi.model.SysMenuFunction">
        insert into sys_menu_function( <include refid="commonColumnsNotPK"/> )
        values
            <foreach collection="list" item="item" index="index" separator=",">
                (
                        #{item.menuId},
                        #{item.name},
                        #{item.code},
                        #{item.enabled},
                        #{item.creatorId},
                        #{item.createName},
                        #{item.createTime},
                        #{item.updaterId},
                        #{item.updateName},
                        #{item.updateTime},
                        #{item.dropState}
                )
            </foreach>
    </insert>

    <update id="update" parameterType="com.liz.adminApi.model.SysMenuFunction">
        <![CDATA[ UPDATE sys_menu_function SET
             id = #{id} ]]>
            <if test="menuId!= null and menuId!= ''">
                , menu_id = #{menuId}
            </if>
            <if test="name!= null and name!= ''">
                , name = #{name}
            </if>
            <if test="code!= null and code!= ''">
                , code = #{code}
            </if>
            <if test="enabled!= null and enabled!= ''">
                , enabled = #{enabled}
            </if>
            <if test="creatorId!= null and creatorId!= ''">
                , creator_id = #{creatorId}
            </if>
            <if test="createName!= null and createName!= ''">
                , create_name = #{createName}
            </if>
            <if test="createTime!= null ">
                , create_time = #{createTime}
            </if>
            <if test="updaterId!= null and updaterId!= ''">
                , updater_id = #{updaterId}
            </if>
            <if test="updateName!= null and updateName!= ''">
                , update_name = #{updateName}
            </if>
            <if test="updateTime!= null ">
                , update_time = #{updateTime}
            </if>
            <if test="dropState!= null and dropState!= ''">
                , drop_state = #{dropState}
            </if>
      <![CDATA[  WHERE id = #{id} ]]>
    </update>

    <update id="batchUpdate" parameterType="map">
          UPDATE  sys_menu_function
          set update_time =  #{sysMenuFunction.updateTime}
            <if test="sysMenuFunction.menuId!= null and sysMenuFunction.menuId!= ''">
                , menu_id = #{sysMenuFunction.menuId}
            </if>
            <if test="sysMenuFunction.name!= null and sysMenuFunction.name!= ''">
                , name = #{sysMenuFunction.name}
            </if>
            <if test="sysMenuFunction.code!= null and sysMenuFunction.code!= ''">
                , code = #{sysMenuFunction.code}
            </if>
            <if test="sysMenuFunction.enabled!= null and sysMenuFunction.enabled!= ''">
                , enabled = #{sysMenuFunction.enabled}
            </if>
            <if test="sysMenuFunction.creatorId!= null and sysMenuFunction.creatorId!= ''">
                , creator_id = #{sysMenuFunction.creatorId}
            </if>
            <if test="sysMenuFunction.createName!= null and sysMenuFunction.createName!= ''">
                , create_name = #{sysMenuFunction.createName}
            </if>
            <if test="sysMenuFunction.createTime!= null ">
                , create_time = #{sysMenuFunction.createTime}
            </if>
            <if test="sysMenuFunction.updaterId!= null and sysMenuFunction.updaterId!= ''">
                , updater_id = #{sysMenuFunction.updaterId}
            </if>
            <if test="sysMenuFunction.updateName!= null and sysMenuFunction.updateName!= ''">
                , update_name = #{sysMenuFunction.updateName}
            </if>
            <if test="sysMenuFunction.dropState!= null ">
                , drop_state = #{sysMenuFunction.dropState}
            </if>
        WHERE
        <foreach collection="idList" index="index" item="id" open=" id IN(" separator="," close=") ">
            #{id}
        </foreach>
    </update>


    <delete id="deleteByPK" parameterType="java.lang.Integer">
        <![CDATA[ DELETE FROM sys_menu_function
        WHERE id = #{id} ]]>
    </delete>

    <delete id="deleteByPKeys" parameterType="map">
        DELETE FROM sys_menu_function WHERE
        <foreach collection="primaryKeys" index="index" item="id" open=" id IN(" separator="," close=") ">
            ${id}
        </foreach>
    </delete>

    <delete id="deleteByProperty" parameterType="com.liz.adminApi.model.SysMenuFunction">
        DELETE FROM sys_menu_function WHERE 1 = 1
        <include refid="commonCondition"/>
    </delete>

    <select id="getByPK" parameterType="java.lang.Integer" resultMap="SysMenuFunctionResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM sys_menu_function WHERE id = #{id}
    </select>

    <select id="list" resultMap="SysMenuFunctionResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM sys_menu_function
    </select>

    <select id="listByProperty" parameterType="com.liz.adminApi.model.SysMenuFunction" resultMap="SysMenuFunctionResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM sys_menu_function WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByCount" parameterType="com.liz.adminApi.model.SysMenuFunction" resultType="int">
        SELECT count(1) AS totalcount FROM sys_menu_function WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByPagination" parameterType="com.liz.adminApi.model.SysMenuFunction" resultMap="SysMenuFunctionResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM sys_menu_function WHERE 1=1
        <include refid="commonCondition"/>
    </select>

</mapper>