<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liz.adminApi.mapper.SysUserMapper">
    <!--<cache type="com.yyw.yhyc.cache.LoggingRedisCache"-->
           <!--flushInterval="86400000" size="1024000">-->
    <!--</cache>-->
    <resultMap id="SysUserResultMapper" type="com.liz.adminApi.model.SysUser">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_name" property="createName"/>
        <result column="create_time" property="createTime"/>
        <result column="updater_id" property="updaterId"/>
        <result column="update_name" property="updateName"/>
        <result column="update_time" property="updateTime"/>
        <result column="drop_state" property="dropState"/>
    </resultMap>

    <sql id="commonColumns">
        id,
        username,
        password,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>

    <sql id="commonColumnsNotPK">
        username,
        password,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>


    <sql id="commonProcessDateColumns">
        id,
        username,
        password,
        creator_id,
        create_name,
        create_time,
        updater_id,
        update_name,
        update_time,
        drop_state
    </sql>

    <sql id="commonCondition">
        <if test="id!= null and id!= ''">
            AND id = #{id}
        </if>
        <if test="username!= null and username!= ''">
            AND username = #{username}
        </if>
        <if test="password!= null and password!= ''">
            AND password = #{password}
        </if>
        <if test="creatorId!= null and creatorId!= ''">
            AND creator_id = #{creatorId}
        </if>
        <if test="createName!= null and createName!= ''">
            AND create_name = #{createName}
        </if>
        <if test="createTime!= null ">
            AND create_time = #{createTime}
        </if>
        <if test="updaterId!= null and updaterId!= ''">
            AND updater_id = #{updaterId}
        </if>
        <if test="updateName!= null and updateName!= ''">
            AND update_name = #{updateName}
        </if>
        <if test="updateTime!= null ">
            AND update_time = #{updateTime}
        </if>
        <if test="dropState!= null and dropState!= ''">
            AND drop_state = #{dropState}
        </if>
    </sql>


    <insert id="save" parameterType="com.liz.adminApi.model.SysUser" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[ INSERT INTO sys_user ( ]]> <include refid="commonColumnsNotPK"/>
        <![CDATA[
                ) VALUES (
                #{username},
                #{password},
                #{creatorId},
                #{createName},
                #{createTime},
                #{updaterId},
                #{updateName},
                #{updateTime},
                #{dropState}
      ) ]]>
    </insert>

    <insert id="batchInsert"  parameterType="com.liz.adminApi.model.SysUser">
        insert into sys_user( <include refid="commonColumnsNotPK"/> )
        values
            <foreach collection="list" item="item" index="index" separator=",">
                (
                        #{item.username},
                        #{item.password},
                        #{item.creatorId},
                        #{item.createName},
                        #{item.createTime},
                        #{item.updaterId},
                        #{item.updateName},
                        #{item.updateTime},
                        #{item.dropState}
                )
            </foreach>
    </insert>

    <update id="update" parameterType="com.liz.adminApi.model.SysUser">
        <![CDATA[ UPDATE sys_user SET
             id = #{id} ]]>
            <if test="username!= null and username!= ''">
                , username = #{username}
            </if>
            <if test="password!= null and password!= ''">
                , password = #{password}
            </if>
            <if test="creatorId!= null and creatorId!= ''">
                , creator_id = #{creatorId}
            </if>
            <if test="createName!= null and createName!= ''">
                , create_name = #{createName}
            </if>
            <if test="createTime!= null ">
                , create_time = #{createTime}
            </if>
            <if test="updaterId!= null and updaterId!= ''">
                , updater_id = #{updaterId}
            </if>
            <if test="updateName!= null and updateName!= ''">
                , update_name = #{updateName}
            </if>
            <if test="updateTime!= null ">
                , update_time = #{updateTime}
            </if>
            <if test="dropState!= null and dropState!= ''">
                , drop_state = #{dropState}
            </if>
      <![CDATA[  WHERE id = #{id} ]]>
    </update>

    <update id="batchUpdate" parameterType="map">
          UPDATE  sys_user
          set update_time =  #{sysUser.updateTime}
            <if test="sysUser.username!= null and sysUser.username!= ''">
                , username = #{sysUser.username}
            </if>
            <if test="sysUser.password!= null and sysUser.password!= ''">
                , password = #{sysUser.password}
            </if>
            <if test="sysUser.creatorId!= null and sysUser.creatorId!= ''">
                , creator_id = #{sysUser.creatorId}
            </if>
            <if test="sysUser.createName!= null and sysUser.createName!= ''">
                , create_name = #{sysUser.createName}
            </if>
            <if test="sysUser.createTime!= null ">
                , create_time = #{sysUser.createTime}
            </if>
            <if test="sysUser.updaterId!= null and sysUser.updaterId!= ''">
                , updater_id = #{sysUser.updaterId}
            </if>
            <if test="sysUser.updateName!= null and sysUser.updateName!= ''">
                , update_name = #{sysUser.updateName}
            </if>
            <if test="sysUser.dropState!= null ">
                , drop_state = #{sysUser.dropState}
            </if>
        WHERE
        <foreach collection="idList" index="index" item="id" open=" id IN(" separator="," close=") ">
            #{id}
        </foreach>
    </update>


    <delete id="deleteByPK" parameterType="java.lang.Integer">
        <![CDATA[ DELETE FROM sys_user
        WHERE id = #{id} ]]>
    </delete>

    <delete id="deleteByPKeys" parameterType="map">
        DELETE FROM sys_user WHERE
        <foreach collection="primaryKeys" index="index" item="id" open=" id IN(" separator="," close=") ">
            ${id}
        </foreach>
    </delete>

    <delete id="deleteByProperty" parameterType="com.liz.adminApi.model.SysUser">
        DELETE FROM sys_user WHERE 1 = 1
        <include refid="commonCondition"/>
    </delete>

    <select id="getByPK" parameterType="java.lang.Integer" resultMap="SysUserResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM sys_user WHERE id = #{id}
    </select>

    <select id="list" resultMap="SysUserResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM sys_user
    </select>

    <select id="listByProperty" parameterType="com.liz.adminApi.model.SysUser" resultMap="SysUserResultMapper">
        SELECT  <include refid="commonProcessDateColumns"/>
        FROM sys_user WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByCount" parameterType="com.liz.adminApi.model.SysUser" resultType="int">
        SELECT count(1) AS totalcount FROM sys_user WHERE 1=1
        <include refid="commonCondition"/>
    </select>

    <select id="findByPagination" parameterType="com.liz.adminApi.model.SysUser" resultMap="SysUserResultMapper">
        SELECT <include refid="commonProcessDateColumns"/>
        FROM sys_user WHERE 1=1
        <include refid="commonCondition"/>
    </select>

</mapper>